<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="da">

<head><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="css/screen.css" type="text/css" />

</head>
<body>



<div id="top">
<div id="head">
<h2>Ropro - ideer til kano- og kajaktræning</h2>
</div>
<div id="gnav">
<ul>
<li class="venstrestreg"><a href="/index.html">Forsiden</a></li>


<li class="venstrestreg"><a href="/GPS.html">Distance</a></li>

<li class="venstrestreg"><a href="/stopur.html">Stopur</a></li>


<li class="venstrestreg"><a href="/boern.html">Børn</a></li>

<li class="venstrestreg"><a href="/opvarmning.html">Opvarmning</a></li>

<li class="venstrestreg"><a href="/ugeprogrammer.html">Ugeprogrammer</a></li>


<li class="venstrestreg"><a href="/diverse.html">Diverse</a></li>


<li class="venstrestreg"><a href="/links.html">Links</a></li>

<li><a href="/galleri.html">Galleri</a></li>
</ul>
</div>

</div>

<div id="content">

{{ content }}

</div>

</body>
</html>
